//! **************************************************************************
// Written by: Map P.20160913 on Wed Feb 27 19:29:06 2019
//! **************************************************************************

SCHEMATIC START;
COMP "adj" LOCATE = SITE "T10" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "sel" LOCATE = SITE "T9" LEVEL 1;
COMP "rst" LOCATE = SITE "A8" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "pause" LOCATE = SITE "B8" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "clks/blinkHzCount_23" BEL "clks/blinkHzCount_22"
        BEL "clks/blinkHzCount_21" BEL "clks/blinkHzCount_20" BEL
        "clks/blinkHzCount_19" BEL "clks/blinkHzCount_18" BEL
        "clks/blinkHzCount_17" BEL "clks/blinkHzCount_16" BEL
        "clks/blinkHzCount_15" BEL "clks/blinkHzCount_14" BEL
        "clks/blinkHzCount_13" BEL "clks/blinkHzCount_12" BEL
        "clks/blinkHzCount_11" BEL "clks/blinkHzCount_10" BEL
        "clks/blinkHzCount_9" BEL "clks/blinkHzCount_8" BEL
        "clks/blinkHzCount_7" BEL "clks/blinkHzCount_6" BEL
        "clks/blinkHzCount_5" BEL "clks/blinkHzCount_4" BEL
        "clks/blinkHzCount_3" BEL "clks/blinkHzCount_2" BEL
        "clks/blinkHzCount_1" BEL "clks/blinkHzCount_0" BEL
        "clks/twoHzCount_24" BEL "clks/twoHzCount_23" BEL "clks/twoHzCount_22"
        BEL "clks/twoHzCount_21" BEL "clks/twoHzCount_20" BEL
        "clks/twoHzCount_19" BEL "clks/twoHzCount_18" BEL "clks/twoHzCount_17"
        BEL "clks/twoHzCount_16" BEL "clks/twoHzCount_15" BEL
        "clks/twoHzCount_14" BEL "clks/twoHzCount_13" BEL "clks/twoHzCount_12"
        BEL "clks/twoHzCount_11" BEL "clks/twoHzCount_10" BEL
        "clks/twoHzCount_9" BEL "clks/twoHzCount_8" BEL "clks/twoHzCount_7"
        BEL "clks/twoHzCount_6" BEL "clks/oneHzCount_25" BEL
        "clks/oneHzCount_24" BEL "clks/oneHzCount_23" BEL "clks/oneHzCount_22"
        BEL "clks/oneHzCount_21" BEL "clks/oneHzCount_20" BEL
        "clks/oneHzCount_19" BEL "clks/oneHzCount_18" BEL "clks/oneHzCount_17"
        BEL "clks/oneHzCount_16" BEL "clks/oneHzCount_15" BEL
        "clks/oneHzCount_14" BEL "clks/oneHzCount_13" BEL "clks/oneHzCount_12"
        BEL "clks/oneHzCount_11" BEL "clks/oneHzCount_10" BEL
        "clks/oneHzCount_9" BEL "clks/oneHzCount_8" BEL "clks/oneHzCount_7"
        BEL "clks/oneHzDiv" BEL "clks/blinkHzDiv" BEL "clks/twoHzDiv" BEL
        "rst_debouncer/is_btn_poseedge_temp" BEL
        "pause_debouncer/is_btn_poseedge_temp" BEL "rst_debouncer/mem_0" BEL
        "pause_debouncer/mem_0" BEL "rst_debouncer/mem_3" BEL
        "rst_debouncer/mem_1" BEL "rst_debouncer/mem_2" BEL
        "rst_debouncer/mem_4" BEL "rst_debouncer/mem_5" BEL
        "rst_debouncer/mem_6" BEL "rst_debouncer/mem_7" BEL
        "rst_debouncer/mem_8" BEL "rst_debouncer/mem_9" BEL
        "rst_debouncer/mem_10" BEL "rst_debouncer/mem_11" BEL
        "rst_debouncer/mem_12" BEL "rst_debouncer/mem_13" BEL
        "rst_debouncer/mem_14" BEL "rst_debouncer/mem_15" BEL
        "pause_debouncer/mem_1" BEL "pause_debouncer/mem_2" BEL
        "pause_debouncer/mem_3" BEL "pause_debouncer/mem_4" BEL
        "pause_debouncer/mem_5" BEL "pause_debouncer/mem_8" BEL
        "pause_debouncer/mem_6" BEL "pause_debouncer/mem_7" BEL
        "pause_debouncer/mem_9" BEL "pause_debouncer/mem_10" BEL
        "pause_debouncer/mem_11" BEL "pause_debouncer/mem_12" BEL
        "pause_debouncer/mem_15" BEL "pause_debouncer/mem_13" BEL
        "pause_debouncer/mem_14" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

